@import '../../../../../../../../styles/index';

.listing.container {
  .my-listings {
    width: 100%;

    .favorites-form {
      display: flex;

      .selection {
        &.dropdown {
          min-width: 200px;
          margin-right: 10px;
        }
      }

      button {
        padding: 0.78571429em 1em 0.785714em;
        i {
          margin: 0!important;
        }
      }
    }
    .items {
      .item {
        .title {
          font-size: 16px;
        }

        .price {
          margin-bottom: 8px;
        }
      }
    }
  }
}
