@import '../../../../../../../../styles/index';

.listing.container {
  .my-listings {
    width: 100%;

    .items {
      .item {
        .title {
          font-size: 16px;
        }

        .price {
          margin-bottom: 8px;
        }
      }
    }
  }
}
