$primary-white: white;
$secondary-white: rgba(255, 255, 255, 0.3);
$third-white: #eef0ef;
$lighter-blue: #e8edf0;
$primary-blue: #2aabe4;
$white: #ffffff;
$black: #000000;
$dark-gray: #000002;
$gray: #333333;
$secondary-gray: #565656;
$lightest-gray: #fcfcfc;
$lighter-gray: #f8faf9;
$primary-gray: #b2b2b2;
$primary-green: #01b540;
$error: #ff735d;
$success: #62cb8f;
$transparent: rgba(255, 255, 255, 0);
