@import './colors';

.ui.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0px);
}
.ui.modal {
  &.fullscreen {
    left: 50% !important;
    height: 80%;
  }

  &.normal,
  &.large {
    height: 80%;
  }

  .modal-content {
    height: 100%;
  }

  > .close {
    top: 1.0535rem;
    right: 1rem;
    color: $black;
  }
}
