@import './colors';
@import './fonts';

a, .link {
  color: $primary-blue;
  cursor: pointer;

  &:hover {
    color: darken($primary-blue, 10%);
  }
}

.ui.loader:before {
  border-color: $primary-blue !important;
}
