.validatable-field-spinner, .validatable-field-check {
    position: absolute;
    width: 20px;
    height: 19px;
    background: transparent;
    right: 8px;
    color: gray;
    bottom: 5px;
}
.validatable-field-check{
    height: 14px;
    color: green;
    width: 16px;
}
