@import '../../../../styles/index';
@import '../../../../styles/tabs';

.quick-start {
  padding: 20px;

  .red {
    color: $red;
  }
}

.badge-tag {
  border: 1px solid $primary-gray;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 9px;
  color: $primary-gray;
}

.load-container {
  text-align: center;
  width: 100%;
}

.from-to {
  display: flex;
}

.from-icon {
  margin-right: 5px;
}

.to-icon {
  margin-left: 15px;
  margin-right: 5px
}

.recent-transactions {
  width: 100%;
}

.container {
  &.wallet {
    background-color: $lighter-gray;

    .tabs {
      padding-bottom: 10px;
      .content {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
      }
      .no-wallet-yet {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
      }
    }

    .ui {
      &.segment.active {
        display: flex;
        align-items: center;
        .add-icon {
          display: flex;
          flex-basis: 380px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-top: 20px;
          &:hover {
            opacity: 0.7;
          }
        }
        .wallet-detail {
          flex-basis: 380px;
          margin-right: 20px;
          margin-top: 20px;
          border-radius: 3px;
          background-color: $lighter-blue;
          background-position: right bottom;
          background-repeat: no-repeat;
          cursor: pointer;

          .info {
            display: flex;
            margin: 20px;

            img {
              margin-right: 10px;
            }
          }

          .top-detail {
            display: flex;
            flex-direction: column;
            flex: 1;

            .code {
              font-weight: bold;
              margin-bottom: 4px;
            }

            .balance {
              font-weight: bold;
            }
            .key {
              font-weight: bold;
            }
            .accountId {
              font-size: 10px;
            }
          }

          .title {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
          }

          .balance {

          }
        }
      }
    }
  }
}

