.add-bitcoin-wallet {
  .form-field {
    margin-bottom: 10px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: white;
    padding: 0 30px;
    margin-bottom: -30px !important;
    margin-left: -30px !important;
    margin-right: -30px !important;
  }
}
