@import '../../../../styles/index';

$sidebar-size: 250px;

.ui.modal {
  height: 80%;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;

  .from-to {
    display: flex;
    align-items: center;
  }

  .overlay {
    &.details-visible {
      height: 100%;
      width: calc(100% - 38%);
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 5;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }

  .content {
    border-top-left-radius: 0.4rem!important;
    border-bottom-left-radius: 0.4rem!important;
    padding: 0 !important;
    height: 100%;

    .modal-container {
      height: 100%;

      .tabs {
        border-bottom: none;
        display: flex;
        flex-direction: column;
        height: 100%;

        .segment.active {
          height: 100%;
          overflow-y: auto;
        }
      }

      .check-form {
        .description {
          display: flex;
          margin-bottom: 30px;

          img {
            margin-right: 12px;
          }

          .description-text {
            .title {
              font-weight: bold;
              margin-bottom: 10px;
            }
          }
        }

        .check-container {
          display: flex;

          .checkbox {
            min-width: 20px;

            &:hover {
              opacity: 0.8;
              cursor: pointer;
            }
          }
        }
      }

      .bottom-detail {
        display: flex;

        .labels {
          margin-left: 20px;
          align-self: center;
        }

        .amount {
          font-weight: bold;
        }
      }

      .modal-content {
        height: 100%;
        display: flex;
        border-radius: 0.28rem;
        margin-left: $sidebar-size;
        transition: margin 0.5s ease;
        background-color: $lighter-gray;
      }

      .info {
        display: flex;
        flex-direction: column;

        img {
          margin-right: 10px;
        }

        .top-detail {
          display: flex;
          flex-direction: column;
          flex: 1;
          color: $lightest-gray;

          .title {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            span {
              font-weight: lighter;
            }
          }

          .badge-tag {
            color: $secondary-gray;
            border-color: $secondary-gray;
            padding: 2px 5px;
          }

          .username, .balance {
            font-weight: bold;
            margin-bottom: 5px;
          }

          .accountId {
            color: $secondary-gray;
            font-size: 10px;
          }
        }
      }

      .sidebar {
        .info {
          margin-bottom: 35px;
          flex-direction: row;
        }
      }

      .separator {
        width: 100%;
        height: 1px;
        background-color: lighten($primary-gray, 20%);
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .details {
        .top-detail {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-left: 15px;
          margin-right: 15px;

          .button {
            padding: 0.5em 1.5em 0.5em;
          }
        }

        .code {
          font-size: 17px;

          &.main {
            margin-bottom: 20px;
          }
        }

        .top-container {
          display: flex;
          margin-bottom: 20px;
        }

        .info {
          margin-left: 15px;
          margin-right: 15px;

          .item {
            flex: 1;
            display: flex;
            flex-direction: column;

            .time-zone {
              color: $primary-gray;
              font-size: 10px;
            }

            .date {
              margin-top: 5px;
            }
          }
        }

        .operations {
          margin-left: 15px;
          margin-right: 15px;

          .withdraw {
            background-color: lighten($error, 27%);
          }

          .deposit {
            background-color: lighten($success, 33%);
          }

          .withdraw, .deposit {
            padding: 8px;
            border-radius: 3px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .data-table .top-detail {
    flex-direction: row !important;
  }

  .data-table {
    td.balance {
      .link {
        margin-left: 15px;
      }
    }
  }

  .from-icon {
    margin-right: 5px
  }

  .to-icon {
    margin-left: 15px;
    margin-right: 5px
  }

  .sidebar {
    &.settings {
      background-color: $gray;
      position: fixed;
      top: 0;
      bottom: 0;
      width: $sidebar-size;
      border-top-left-radius: 0.28571429rem;
      border-bottom-left-radius: 0.28571429rem;
      padding: 20px 15px;
    }
  }

  .private-data {
    .field {
      flex: 3;
    }

    .submit-group {
      margin-top: 20px;

      button {
        flex: 0.5;
        margin-left: -5px;
      }
    }

    .publisher-form {
      margin-top: 20px;

      .header {
        margin-bottom: 30px;
        .title {
          font-weight: bold;
        }
      }
    }

    .radios-container {
      display: flex;

      .radio-wrapper {
        flex: 1;
        line-height: 20px;

        .checkbox-inline {
          margin-left: 15px;
        }
      }
    }
  }

  .details-container {
    width: 38%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    position: absolute;
    background-color: #f8faf9;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;

    &.visible {
      display: block;
      z-index: 5;
    }
  }

  .keys-container {
    .title {
      font-size: 17px;
      margin-bottom: 10px;
    }

    .form-group {
      .hybrid-input {
        position: relative;
      }

      .copy-btn {
        position: absolute;
        right: -2px;
        top: 1px;
        bottom: 1px;
      }

      .note {
        color: $primary-gray;
        font-size: 12px;
        text-align: justify;
      }
    }

    .keys-form-container {
      margin: 30px;
      margin-bottom: 35px;
    }

    .import-wf-container {
      .rescan {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .checkbox {
        display: flex;
        margin-left: -4px;

        &.button {
          margin-left: -7px;
        }

        .description-text {
          margin-left: 5px;
        }

        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }

  .recent-transactions,
  .vote-container {
    .top-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 8px;
    }
  }

  .vote-container {
    .title {
      font-size: 17px;
    }
    .filter-input {
      flex: inherit;
    }
  }
}

