@import '../../../../styles/index';

$sidebar-size: 250px;

.ui.modal {
  height: 80%;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;

  .from-to {
    display: flex;
    align-items: center;
  }

  .content {
    border-top-left-radius: 0.4rem!important;
    border-bottom-left-radius: 0.4rem!important;
    padding: 0 !important;
    height: 100%;

    .modal-container {
      height: 100%;

      .tabs {
        border-bottom: none;
        display: flex;
        flex-direction: column;
        height: 100%;

        .segment.active {
          height: 100%;
          overflow-y: auto;
        }
      }

      .bottom-detail {
        display: flex;

        .labels {
          margin-left: 20px;
          align-self: center;
        }

        .amount {
          font-weight: bold;
        }
      }

      .modal-content {
        height: 100%;
        display: flex;
        border-radius: 0.28rem;
        margin-left: $sidebar-size;
        transition: margin 0.5s ease;
        background-color: $lighter-gray;
      }

      .info {
        display: flex;
        flex-direction: column;

        img {
          margin-right: 10px;
        }

        .top-detail {
          display: flex;
          flex-direction: column;
          flex: 1;
          color: $lightest-gray;

          .title {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;

            span {
              font-weight: lighter;
            }
          }

          .badge-tag {
            color: $secondary-gray;
            border-color: $secondary-gray;
            padding: 2px 5px;
          }

          .username, .balance {
            font-weight: bold;
            margin-bottom: 5px;
          }

          .accountId {
            color: $secondary-gray;
            font-size: 10px;
          }
        }
      }

      .sidebar {
        .info {
          margin-bottom: 35px;
          flex-direction: row;
        }
      }

      .separator {
        width: 100%;
        height: 1px;
        background-color: lighten($primary-gray, 20%);
        margin-top: 20px;
        margin-bottom: 20px;
      }

      .details {
        .top-detail {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-left: 15px;
          margin-right: 15px;

          .button {
            padding: 0.5em 1.5em 0.5em;
          }
        }

        .code {
          font-size: 17px;

          &.main {
            margin-bottom: 20px;
          }
        }

        .top-container {
          display: flex;
          margin-bottom: 20px;
        }

        .info {
          margin-left: 15px;
          margin-right: 15px;

          .item {
            flex: 1;
            display: flex;
            flex-direction: column;

            .time-zone {
              color: $primary-gray;
              font-size: 10px;
            }

            .date {
              margin-top: 5px;
            }
          }
        }

        .operations {
          margin-left: 15px;
          margin-right: 15px;

          .withdraw {
            background-color: lighten($error, 27%);
          }

          .deposit {
            background-color: lighten($success, 33%);
          }

          .withdraw, .deposit {
            padding: 8px;
            border-radius: 3px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .data-table .top-detail {
    flex-direction: row !important;
  }

  .data-table {
    td.balance {
      .link {
        margin-left: 15px;
      }
    }
  }

  .from-icon {
    margin-right: 5px
  }

  .to-icon {
    margin-left: 15px;
    margin-right: 5px
  }

  .sidebar {
    &.settings {
      background-color: $gray;
      position: fixed;
      top: 0;
      bottom: 0;
      width: $sidebar-size;
      border-top-left-radius: 0.28571429rem;
      border-bottom-left-radius: 0.28571429rem;
      padding: 20px 15px;
    }
  }
}

