@import '../../../../styles/index';

.ui.modal {
  height: 80%;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;

  .content {
    border-top-left-radius: 0.4rem!important;
    border-bottom-left-radius: 0.4rem!important;
    padding: 0 !important;
    height: 100%;
  }

  .sidebar {
    &.settings {
      background-color: $gray;
      border-top-left-radius: 0.28571429rem;
      border-bottom-left-radius: 0.28571429rem;
    }
  }
}
