<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>omnibazaar.witness_node</string>
	<key>Program</key>
	<string>/Users/${USER}/Library/Application Support/OmniBazaar/witness_node/witness_node</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/omnibazaar.witness_node.stdout</string>
	<key>StandardErrorPath</key>
	<string>/tmp/omnibazaar.witness_node.stderr</string>
</dict>
</plist>
