@import '../../../../styles/index';

.page-description {
  margin: -37px 4px 0 29px;
}

.exchange-form {
  .exchange-form-container {
    padding: 15px;

    .section {
      margin-top: 20px;
    }

    .read-omniCoin-white-paper, 
    .read-omniCoin-information-memorandum,
    .read-omniCoin-token-purchase-agreement {
      display: flex;
      margin: 20px 0 0 270px;

      .check-container {
        padding-right: 15px
      }

    }

    .form-group {
      label, span {
        flex: 2;
        align-self: center;
      }

      .exchange-input {
        &.currency {
          display: flex;
        }
        flex: 3;
        position: relative;

        button {
          position: absolute;
          right: -2px;
          bottom: 1px;
        }

        .button--green {
          color: #01b540 !important;
        }

        .text-area {
          resize: none;
          background-color: #e8edf0 !important;
        }

        .label {
          margin-left: 15px;
        }

        &.deal {
          margin-top: 10px;
        }
      }

      .field {
        flex: 3;
        margin-top: 15px;
      }

      .textfield {
        flex: 3;
        padding: 0.67857143em 1em;
      }

      .button {
        font-size: 1rem;
      }
    }

    .title {
      font-size: 17px;
      line-height: 17px;
      margin-bottom: 10px;
    }
  }
}
