@import '../../../../styles/index';
@import '../../../../styles/datatable';

.processors {
  background-color: $lighter-gray;

  .tabs {
    border-bottom: none;
  }

  .badges {
    display: flex;

    .badge {
      display: flex;
      flex-direction: column;
      flex-basis: 215px;
      padding: 15px;
      border-radius: 6px;
      margin-right: 15px;
      background-color: $lighter-blue;

      .value {
        font-weight: bold;
        margin-top: 4px;
      }
    }
  }
}

.votes {
  display: flex;

  &.voted {
    opacity: 0.5;
  }

  span {
    margin-right: 22px;
  }

  img {
    margin-right: 10px;
  }
}