.modal.terms-modal {
  height: initial !important;

  .content {
    height: initial;
  }

  .modal-container {
    height: 100%;
    overflow-y: auto;
  }
}

.important {
  font-weight: bolder;
  font-size: 18px;
}

.terms-title {
  text-align: center;
  margin: 15px 0 10px 0;
  font-weight: bold;
}

.terms-conditions p {
  font-size: 16px;
}

.terms-conditions li {
  font-size: 16px;
}

.terms-conditions h3 {
  font-weight: bolder;
}

.conduct {
  list-style-type: circle;
}

.bold {
  font-weight: bolder;
}
