.modal.terms-modal {
  height: initial !important;

  .content {
    height: initial;
  }

  .modal-container {
    height: 100%;
    overflow-y: auto;
  }
}

.important {
  font-weight: bolder;
  font-size: 18px;
}

.title {
  text-align: center;
  margin: 15px 0 10px 0;
}

.terms-conditions p {
  font-size: 16px;
}
