@import '../../../../styles/index';

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  width: 300px;
  margin-top: -70px;
  span {
    color: $primary-white;
  }
  .username {
    margin-bottom: 5px;
    padding-right: 2px;
  }
  .password {
    display: flex;
    flex-direction: row;
    .password-input-container {
      display: flex;
      background-color: white;
      align-items: center;
      padding-right: 10px;
      border: 1px solid rgba(34, 36, 38, 0.15);
      input {
        border: none;
      }
      i {
        cursor: pointer;
        font-size: 18px;
        &:hover {
          color: rgba(0, 0, 0, 0.67);
        }
      }
    }
    button {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      margin-right: 0.1em;
    }
  }
  .question {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
  }
  .transparent {
    background: transparent !important;
  }
}
