.rate-modal-form-field {
  display: flex;
  flex-direction: row;
  padding: 10px 32px;
  .message {
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }
  .deal-rating {
    flex: 3;
  }
}
