@import '../../../../../../../../styles/index';

.add-listing,
.listing-defaults,
.import-listings,
.search-results {
  .top-header {
    .child {
      color: $dark-gray;
    }
  }

  .listing-body {
    display: flex;
    padding: 20px;

    .add-listing-form,
    .import-listing-form {
      width: 70%;

      .ui.grid {
        padding-bottom: 50px;

        .row {
          padding-top: 0.4rem !important;
          padding-bottom: 0.4rem !important;

          &.row-section {
            margin-top: 35px;
          }

          .column {
            display: flex;
            align-items: center;
            padding-right: 0;

            &.top-align {
              align-items: flex-start;
              margin-top: 8px;
            }

            &.align-top {
              align-items: flex-start;
            }

            .ui.compact.dropdown {
              min-width: 100%;
              background-color: $lighter-blue;
            }

            &.right.four.wide {
              display: flex;
              align-items: flex-end;
              flex-direction: column;
            }

            .hybrid-input {
              width: 100%;

              .react-datepicker-wrapper {
                width: 100%;

                .react-datepicker__input-container {
                  width: 100%;
                }
              }
            }

            &.keywords {
              flex-direction: column;
              align-items: flex-start;

              >div:first-child {
                align-self: stretch;
              }

              .note {
                margin-top: 4px;
              }
            }

            .listing-image-container {
              flex-direction: column;
            }

            $imagesHeight: 100px;
            .images-wrapper {
              min-height: $imagesHeight;
              display: flex;
              flex-wrap: wrap;

              .img-container {
                position: relative;
                margin-right: 10px;

                .remove-icon {
                  position: absolute;
                  top: 5px;
                  right: 5px;

                  &:hover {
                    cursor: pointer;
                  }
                }

                .loading-overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(255, 255, 255, 0.8);
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .content {
                    display: flex;
                    flex-direction: column;
                  }

                  .ui.inverted.dimmer {
                    background-color: rgba(255, 255, 255, 0);
                  }

                  .content .error {
                    color: #BF0712 !important;
                  }

                  .content .btn-close {
                    padding: 7px;
                    margin: 0;
                    margin-top: 3px;
                  }
                }
              }
            }

            .add-img-button {
              background-color: $lighter-blue;
              width: 132px;
              height: $imagesHeight;

              img.ui.image {
                margin: 0 auto;
              }
            }

            .filetype {
              display: none;
            }

            .description {
              display: flex;

              img {
                margin-right: 5px;

                &:hover {
                  cursor: pointer;
                }
              }
            }

            &.measure-unit {
              span {
                margin-top: 9px;
              }
            }
          }
        }
      }

      .title {
        font-size: 17px;
        font-weight: bold;
      }

      .field {
        flex: 3;
      }
    }

    .not-found {
      font-size: 20px;
      color: grey;
    }
    .uppercase {
      text-transform: uppercase;
    }
  }
}

.listing-defaults,
.import-listings {
  .category-title {
    margin-bottom: 15px;
  }
}

.category-dropdown {
  .menu {
    min-width: 125px!important;
  }
}

.calendar-icon {
  position: absolute!important;
  right: 5px;
  top: 12px;
  bottom: 1px;
}

.create-listing {
  margin-left: 0!important;
}

.parent {
  height: 42px;
}
