@import '../../../../../../../../styles/index';

.details {
  .top-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;

    .button {
      padding: 0.5em 1.5em 0.5em;
    }
  }

  .code {
    font-size: 17px;

    &.main {
      margin-bottom: 20px;
    }
  }

  .top-container {
    display: flex;
    margin-bottom: 20px;

    .item {
      .hash {
        width: 60%;        
        word-wrap: break-word;
      }
    }
  }

  .info {
    margin-left: 15px;
    margin-right: 15px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;

      .time-zone {
        color: $primary-gray;
        font-size: 10px;
      }

      .date {
        margin-top: 15px;
      }
    }
  }

  .operations {
    margin-left: 5px;
    margin-right: 15px;

    .withdraw {
      background-color: lighten($error, 27%);
    }

    .deposit {
      background-color: lighten($success, 33%);
    }

    .withdraw, .deposit {
      padding: 8px;
      border-radius: 3px;
      margin-bottom: 10px;
    }
  }
}
