@import '../../../../styles/index';

.quick-start {
  padding: 20px;
}

.container {
  &.wallet {
    background-color: $lighter-gray;

    .tabs-active-content {
      display: flex;

      .wallet-detail {
        flex-basis: 380px;
        padding: 20px;
        margin-right: 20px;
        background-color: $lighter-blue;
        border-radius: 3px;

        .info {
          display: flex;
          margin-bottom: 20px;

          img {
            margin-right: 10px;
          }
        }

        .top-detail {
          display: flex;
          flex-direction: column;
          flex: 1;

          .code {
            font-weight: bold;
            margin-bottom: 4px;
          }
          .accountId {
            font-size: 10px;
          }
        }

        .title {
          display: flex;
          flex: 1;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;
        }

        .badge {
          border: 1px solid $primary-gray;
          border-radius: 20px;
          padding: 0 5px;
          font-size: 9px;
          color: $primary-gray;
        }

        .balance {

        }
      }
    }
  }
}

