@import '../../../../styles/index';

.transfer {
  .transfer-form {
    .transfer-form-container {
      padding: 15px;

      .section {
        margin-top: 20px;
      }

      .form-group {
        label, span {
          flex: 2;
          align-self: center;
        }

        .transfer-input {
          flex: 3;
          position: relative;

          button {
            position: absolute;
            right: -2px;
            bottom: 1px;
          }

          .button--green {
            color: #01b540 !important;
          }

          .text-area {
            resize: none;
            background-color: #e8edf0 !important;
          }

          .label {
            margin-left: 15px;
          }
        }

        .field {
          flex: 3;
          margin-top: 15px;
        }

        .textfield {
          flex: 2.81;
          padding: 0.67857143em 1em;
        }

        .button {
          font-size: 1rem;
        }
      }

      .title {
        font-size: 17px;
        line-height: 17px;
        margin-bottom: 10px;
      }
    }
  }
}
