@import '../../../../styles/index';

.transfer {
  .transfer-form {
    .transfer-form-container {
      padding: 15px;

      .section {
        margin-top: 20px;
      }

      .form-group {
        label, span {
          flex: 2;
          align-self: center;
        }

        .transfer-input {
          flex: 3;
          position: relative;

          button {
            position: absolute;
            right: -2px;
            bottom: 1px;
          }

          .button--green {
            color: #01b540 !important;
          }

          .text-area {
            resize: none;
            background-color: #e8edf0 !important;
          }

          .label {
            margin-left: 15px;
          }

          &.deal {
            margin-top: 10px;
          }

          .shipping-rate-item:first-child{
            margin: 0;
          }
        }

        .field {
          flex: 3;
          margin-top: 15px;
        }

        .textfield {
          flex: 3;
          padding: 0.67857143em 1em;
        }

        .button {
          font-size: 1rem;
        }

        &.shipping-cost{
          >span{
            align-self: flex-start;
          }

          >.rates {
            max-height: 250px;
            overflow-y: auto;
          }
        }

        .fee-loader,
        .fee-loader:before,
        .fee-loader:after {
          width: 20px;
          height: 20px;
        }

        .amount.fee {
          flex: 3;
        }
      }

      .title {
        font-size: 17px;
        line-height: 17px;
        margin-bottom: 10px;
      }
    }
  }
}

.transfer-input-cont {
  margin: 0px 7px 0px 17px!important;
}
