@import '../../../../styles/index';

@mixin max-width($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

.marketplace-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: url('./images/ui-header.jpg') no-repeat center;
    background-size: cover;
    justify-content: center;

    .title,
    .menu,
    .badges {
      color: $white;
    }

    .title {
      text-align: center;
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
      margin: 35px 0;
    }

    .menu {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      ul {
        list-style: none;
        display: flex;
        padding: 0;

        li {
          margin-right: 30px;
          padding: 0 5px;

          &:hover {
            border-bottom: 2px solid $primary-blue;
            cursor: pointer;
          }

          &.active {
            border-bottom: 2px solid $primary-blue;
          }
        }
      }

      .options {
        display: flex;
        align-items: center;

        button {
          border-radius: 16px!important;
          padding: 0.5em 1.1em 0.5em!important;
          font-size: 13px!important;
          display: flex;
          align-items: center;
          margin-right: 10px;

          .image {
            margin-right: 5px;
          }
        }

        img {
          margin-right: 10px;
        }
      }
    }

    .badges {
      align-self: center;
      display: flex;
      width: 100%;
      justify-content: center;

      .badge {
        padding: 18px 15px;
        flex-direction: row;
        align-items: center;
        align-content: center;
        flex-basis: 180px;

        img.ui {
          margin-right: 20px;
        }

        &.blue {
         background-color: $primary-blue;
        }

        &.green {
          background-color: $primary-green;
        }

        &.orange {
          background-color: $primary-orange;
        }

        &.yellow {
          background-color: $yellow;
        }

        &.red {
          background-color: $red;
        }
      }

      @media (max-width: 945px) {
        .badge img.ui {
          margin-right: 10px;
        }
      }
    }
  }

  .body {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $lighter-gray;
    padding: 15px;

    .heading {
      font-size: 18px;
      font-weight: bold;
    }

    .top-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }

    .list-container {
      .button {
        padding: 0;
        margin: 0 19px;
      }

      @media (max-width: 1290px) {
        .button {
          margin: 0 10px;
        }
      }

      .items {
        display: flex;
        margin-bottom: 20px;
        flex-flow: row wrap;
        position: relative;

        .item {
          display: flex;
          flex-direction: column;
          margin: 0 1% 1% 0;
          flex: 0 1 15.5%;

          &:hover {
            opacity: 0.8;
          }

          span:focus {
            outline: none;
          }

          .img-wrapper {
            width: 100%;
            height: 136px;
            background: no-repeat top;
            background-size: cover;
            cursor: pointer;
          }

          .title {
            font-weight: bold;
            margin-top: 4px;
            cursor: pointer;
          }

          .subtitle {
            color: $primary-blue;
            font-size: 12px;
            margin: 2px 0;

            i.arrow.right.icon {
              font-size: 7px !important;
              line-height: 7px;
              color: $primary-gray;
              font-weight: lighter;
              margin: 0 5px;
            }
          }

          .description {
            color: $primary-gray;
            font-size: 11px;
            line-height: 14px;
          }
        }

        /* Extra large desktop */
        @media (min-width: 1700px) {
          .item {
            flex: 0 1 19%;
          }

          .img-wrapper {
            height: 200px !important;
          }
        }

        /* Large desktop */
        @media (min-width: 1351px) and (max-width: 1699px)  {
          .item {
            flex: 0 1 15.5%;
          }

          .img-wrapper {
            height: 120px !important;
          }
        }

        /* Large desktop */
        @media (min-width: 1200px) and (max-width: 1350px)  {
          .item {
            flex: 0 1 15.5%;
          }

          .img-wrapper {
            height: 100px !important;
          }
        }

        @media (min-width: 980px) and (max-width: 1199px) {
          .item {
            flex: 0 1 19%;
          }

          .img-wrapper {
            height: 100px !important;
          }
        }

        /* Portrait tablet to landscape and desktop */
        @media (min-width: 871px) and (max-width: 979px) {
          .item {
            flex: 0 1 32%;
          }

          .img-wrapper {
            height: 120px !important;
          }
        }

        /* Portrait tablet to landscape and desktop */
        @media (min-width: 768px) and (max-width: 870px) {
          .item {
            flex: 0 1 32%;
          }

          .img-wrapper {
            height: 100px !important;
          }
        }

        @media (min-width: 701px) and (max-width: 767px) {
          .item {
            flex: 0 1 49%;
          }

          .img-wrapper {
            height: 140px !important;
          }
        }

        @media (min-width: 601px) and (max-width: 700px) {
          .item {
            flex: 0 1 49%;
          }

          .img-wrapper {
            height: 100px !important;
          }
        }

        @media (max-width: 600px) {
          .item {
            flex: 0 1 100%;
            margin: 0 0 10px 0;
          }
        }
      }
    }

    .categories-container {
      .items {
        display: flex;
        margin-bottom: 20px;
        flex-flow: row wrap;
        position: relative;

        .item {
          display: flex;
          flex-direction: column;
          margin: 0 1.4% 1.4% 0;
          flex: 0 1 48.6%;
          border-radius: 5px;
          padding: 18px;
          background: no-repeat top;
          background-size: cover;

          .title {
            color: $white;
            font-size: 18px;
            margin-bottom: 8px;
          }

          .sub-categories {
            display: flex;
            flex-direction: column;
            position: relative;
            height: 133px;
            flex-wrap: wrap;

            .sub-category {
              color: $third-white;
              font-size: 13px;
            }
          }

          .view-all {
            color: $white;
            font-weight: bold;
            font-size: 15px;
            flex-grow: 1;
            align-items: flex-end;
            display: flex;
            cursor: pointer;

            &:focus {
              outline: none;
            }
            &:hover {
              opacity: 0.8;
            }
          }
        }

        @media (max-width: 1100px) {
          .item {
            flex: 0 1 100%;
            margin: 0 0 1.4% 0;
          }
        }
      }
    }

    .market-footer {
      background-color: $primary-blue;
      border-radius: 5px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      .title,
      .description {
        color: $lighter-gray;
        margin-bottom: 20px;
      }

      .title {
        font-size: 24px;
      }

      .description {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        width: 75%;
      }

      .button {
        margin: 0;
      }

      .button:first-child {
        margin-right: 18px;
      }
    }

  }
}

.menu-popup {
  border-radius: 0 !important;
  max-width: none !important;
  left: 250px !important;
  right: 10px !important;
  margin: 0 !important;

  &.orange {
    border-bottom: 2px solid $orange !important;

    .title {
      color: $orange;
    }
  }

  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
