/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import '~react-redux-toastr/src/styles/index.scss';
@import '~semantic-ui-css/semantic.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Titillium+Web');

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  background-color: #f8faf9;
}

