@import '../../../../styles/index';

$field-width: 300px;

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  margin-top: -150px;
  span {
    color: $primary-white;
  }
  .username {
    width: $field-width;
    margin-bottom: 5px;
    padding-right: 2px;
  }
  .password {
    width: $field-width;
    display: flex;
    flex-direction: row;
    input {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
    button {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }
  }

}