@import '../../styles/index';

.deal-rating {
  .doths {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .doth {
      font-size: 22px;
      cursor: pointer;
      text-align: center;
      &.green {
        &.selected {
          color: #01b540;
        }
        &:not(.selected) {
          color: lighten($green, 26%);
        }
      }
      &.red {
        &.selected {
          color: $red;
        }
        &:not(.selected) {
          color: lighten($red, 40%);
        }
      }
      &.gray {
        &.selected {
          color: #888;
        }
        &:not(.selected) {
          color: lighten($primary-gray, 10%);
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    div {
      color: $primary-gray;
      font-size: x-small;
      font-weight: bold;
      font: $montserrat;
    }
  }
}
