@import '../../styles/index';

.deal-rating {
  .doths {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .doth {
      /*width: 20px;*/
      /*height: 20px;*/
      /*border-radius: 20px;*/
      font-size: 22px;
      cursor: pointer;
      text-align: center;
      &.green {
        &.selected {
          color: #01b540;
          /*background-color: $green;*/
          /*border: 2px solid $green;*/
        }
        &:not(.selected) {
          color: lighten($green, 26%);
          /*border: 2px solid lighten($green, 20%);*/
        }
      }
      &.red {
        &.selected {
          color: $red;
          /*background-color: $red;*/
          /*border: 2px solid $red;*/
        }
        &:not(.selected) {
          color: lighten($red, 40%);
          /*border: 2px solid lighten($red, 20%);*/
        }
      }
      &.gray {
        &.selected {
          color: #888;
          /*background-color: $primary-gray;*/
          /*border: 2px solid $primary-gray;*/
        }
        &:not(.selected) {
          color: lighten($primary-gray, 10%);
          /*border: 2px solid lighten($primary-gray, 20%);*/
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    div {
      color: $primary-gray;
      font-size: x-small;
      font-weight: bold;
      font: $montserrat;
    }
  }
}
