.items {
  &.empty {
    justify-content: center;
  }
}

.currency-icon {
  height: 20px;
  width: 20px;
  float: left;
  margin-right: 5px;
}

.listing-info {
  display: flex;
  align-items: center;
  height: 40px;
}

.description {
  margin-bottom: 0px;
  min-height: 0px;
}

.noData {
  flex: 0 1 24% !important;
  white-space: pre-wrap;
}