@import "../../../../../../styles/index";

.top-header {
  .link:focus {
    outline: none;
  }

  .child {
    color: $dark-gray;
  }

  .parent {
    .subcategory {
      display: flex;
      align-items: center;
      line-height: 22px;
    }
  }
}
