.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  .home-content {
    flex: 4;
  }

  .sidebar {
    background-color: black;
    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.sidebar.visible {
    flex: 1;
}

.sidebar {
  flex: 0.2;
  transition: flex 0.3s ease;
}

.hidden {
  display: none;
}

