@import '../../styles/index';

.boundary-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .message {
    color: $primary-white;
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: -1em;
  }
}
