@import '../../../../styles/index';

.ui.modal {
  .preferences-form-container {

    .form-group {
      label, span {
        flex: 2;
        align-self: center;
      }

      .dropdown, .textfield {
        flex: 2.81!important;
        padding: 0.67857143em 1em;
      }

      .radios {
        flex: 3;
      }
      &.top {
        span {
          align-self: flex-start;
          margin-top: 10px;
        }
      }

      &.referrer {
        .check-container {
          margin-top: -5px;
        }
      }

      .radios {
        display: flex;

        .radio-group {
          flex: 1;
          display: flex;

          span {
            margin-left: 8px;
          }
        }
      }
    }

    .field {
      flex: 3;
      margin-top: 10px;
    }
  }

  .segment.active.tab.console-tab {
    padding: 0 !important;

    .textfield {
      font-family: 'Titillium Web', sans-serif;
      padding: 1em;
      background-color: $white !important;
      border: none;
      font-size: 16px;
      height: 50px;
    }
    .hybrid-input {
      .hint {
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        align-items: center;
        display: flex;
      }

      .long.arrow {
        height: auto;
        font-size: 10px;
        margin-right: 15px;
      }
    }

    .command-container {
      height: 100%;
      display: flex;
      flex-direction: column;

      .command-field {
        caret-color: $primary-blue;
      }

      .command-result {
        flex: 1;
        background-color: $gray;
        padding: 20px;

        .command {
          font-family: 'Titillium Web', sans-serif;
          color: $third-white;
          font-weight: lighter;
        }
      }
    }
  }
}

.hybrid-input {
  position: relative;

  button.ui {
    position: absolute;
    right: -5px;
    top: 1px;
    bottom: 1px;
  }
}

.error-message {
  height: 30px;
  color: #FF0000;
}

.priority-listings {
  width: 100%!important;
}

.radio-group {
  display: flex;
}

.autorun {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -7px;
  float: left;
}

.autorun-note {
  margin-top: 3px;
}

.search-list-options {
  float: left;
  margin-right: 10px;
}

.auto-log-out {

}
