.content {
  .check-form {
    .description {
      display: flex;
      margin-bottom: 30px;

      img {
        margin-right: 12px;
      }

      .description-text {
        .title {
          font-weight: bold;
          margin-bottom: 10px;
        }
      }
    }

    .ip {
      display: flex;
      margin-bottom: 30px;
      align-items: center;
      input {
        margin-left: 20px;
        flex: 1;
      }
    }

    .check-container {
      display: flex;

      .checkbox {
        min-width: 20px;

        &:hover:not(.disabled) {
          opacity: 0.8;
        }
        .disabled {
          opacity: 0.5;
        }
        cursor: pointer;
      }
    }

    .ref-link-cont {
      padding-bottom: 20px;

      .ref-link-label {
        margin: 10px 0px;
      }
      .ref-link-input {
        width: 500px;
      }

    }
  }
}
