@import '../../../../styles/index';
@import '../../../../styles/datatable';

.processors {
  background-color: $lighter-gray;

  .tabs {
    border-bottom: none;
  }

  .badges {
    display: flex;
  }
}
