@import '../../styles/index';
.pagination {
  .active.item {
    border-bottom: none !important;
  }
}

.filter-input {
  input {
    background-color: $lighter-blue !important;
    border: none !important;
  }
}

.filter.icon {
  opacity: 1 !important;

  &:before {
    color: $primary-blue !important;
    font-size: 22px;
  }
}
