@import '../../../../../../../../styles/index';

.recent-searches {
  .top-header {
    .category-title {
      color: $gray;
    }
  }

  .list-container {
    padding: 0 20px;
  }

  .data-table {
    .actions {
      display: flex;
      margin-top: 5px;
      justify-content: flex-end;

      button {
        padding: 0;

        &.save-btn {
          margin-right: 15px;
        }
      }
    }
  }
}
